<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.moviecatalog">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.CatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DetailsActivity"
            android:label="@string/movie_details_label"
            android:parentActivityName=".Activities.CatalogActivity" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/settings_label"
            android:parentActivityName=".Activities.CatalogActivity" />

        <provider
            android:name=".data.MovieContentProvider"
            android:authorities="com.example.android.moviecatalog"
            android:exported="false" />

        <activity
            android:name=".Activities.WatchlistActivity"
            android:label="@string/watchlist_label"
            android:parentActivityName=".Activities.CatalogActivity" />
        <activity
            android:name=".Activities.ReviewActivity"
            android:label="@string/reviews_label"
            android:parentActivityName=".Activities.CatalogActivity" />
        <activity
            android:name=".Activities.MovieTrailersActivity"
            android:label="@string/trailers" />
        <activity android:name=".Activities.FavoritesActivity"
            android:label="@string/favorites_label"
            android:parentActivityName=".Activities.CatalogActivity"/>
    </application>

</manifest>